.PostImageUpload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #14181d;
  max-width: 700px;
  aspect-ratio: 16/9;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.PostImageUpload img{
  height: 100%;
  width: auto;
}

.uploaded-row {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #e9f0ff;
}

.upload-content {
  display: flex;
  align-items: center;
}
