#root {
  width: 100%;
}
.App {
  min-height: 100vh;
}
.Style_name {
  background-image: linear-gradient(90deg, rgb(0, 0, 255), rgb(225, 0, 0));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
