@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  width: calc(100vw - 10px);
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
  background-color: #121212;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* border: 1px solid #000000; */
  border-radius: 3px;
}

::-webkit-scrollbar-button {
  display: none;
}

@media (max-width: 768px) {
  body {
    width: calc(100vw - 0px);
  }
  ::-webkit-scrollbar {
    width: 2px;
  }
}